
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*main {*/
/*    padding: 0;*/
/*    width: 100%;*/
/*    height: calc(99vh - var(--bulma-navbar-height));*/

/*    & > iframe {*/
/*        border: none;*/
/*    }*/
/*}*/
